.App {
  text-align: center;
}

.gridStyle{
  display: flex;
}

.interactionStyle{
  display: inline-flex;
  flex-direction: row;
  align-items: center;

}

.buttonStyle {
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
}

.routeStyles{
  display: inline-flex;
  justify-content: space-evenly;
}
